<header>
    <h1>Manikandan Sambasivam</h1>

   

    <div class="header-right">
        <nav>
            <a href="/index.html">Home</a>
            <a href="/writings.html">Writings</a>
            <a href="/translations.html">Translations</a>
            <a href="/research.html">Research</a>
            <a href="/bio.html">Bio</a>
        </nav>

        <button id="theme-toggle" aria-label="Toggle theme">
            <img src="/assets/images/ld.svg" alt="Toggle theme">
        </button>
    </div>
</header>